
body{
font-family: 'Segoe UI', sans-serif;
scroll-behavior:smooth;
}

/* NAVBAR */

.navbar{
background:#111;
}

.navbar a{
color:white!important;
font-weight:500;
}

/* HERO */

#hero{
height:100vh;
background:linear-gradient(135deg,#1e3c72,#2a5298);
color:white;
display:flex;
align-items:center;
text-align:center;
}

.profile-img{
width:160px;
border-radius:50%;
border:4px solid white;
margin-bottom:20px;
}

/* SECTION */

section{
padding:80px 0;
}

.section-title{
margin-bottom:40px;
text-align:center;

}

/* SKILLS */

.skills-container {
  max-width: 700px;
  margin: 0 auto;
}

.skill {
  margin-bottom: 25px;
}

.skill span {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  color: #111;
}

.skill-bar {
  width: 100%;
  height: 20px;
  background: #f0efef;
  border-radius: 25px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  width: 0;
  background: #149ddd; /* your accent color */
  border-radius: 25px;
  transition: width 1.5s ease-in-out;
}




/* PROJECT CARDS */

.project-card{
border:none;
border-radius:10px;
overflow:hidden;
transition:0.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.project-card:hover{
transform:translateY(-8px);
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

/* CONTACT */

.contact-box {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background: #f4f4f4;
  color: #111; /* <-- make text dark so it’s visible */
}

/* FOOTER */

footer{
background:#111;
color:white;
padding:20px;
text-align:center;
}

.social-icons a{
font-size:22px;
margin:0 10px;
color:white;
}

